
## <summary>policy for cryptcore</summary>


########################################
## <summary>
##	Transition to cryptcore.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cryptcore_domtrans',`
	gen_require(`
		type cryptcore_t, cryptcore_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cryptcore_exec_t, cryptcore_t)
')


########################################
## <summary>
##	Execute cryptcore server in the cryptcore domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptcore_initrc_domtrans',`
	gen_require(`
		type cryptcore_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, cryptcore_initrc_exec_t)
')


########################################
## <summary>
##	Search cryptcore lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptcore_search_lib',`
	gen_require(`
		type cryptcore_var_lib_t;
	')

	allow $1 cryptcore_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read cryptcore lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptcore_read_lib_files',`
	gen_require(`
		type cryptcore_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cryptcore_var_lib_t, cryptcore_var_lib_t)
')

########################################
## <summary>
##	Manage cryptcore lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptcore_manage_lib_files',`
	gen_require(`
		type cryptcore_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, cryptcore_var_lib_t, cryptcore_var_lib_t)
')

########################################
## <summary>
##	Manage cryptcore lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cryptcore_manage_lib_dirs',`
	gen_require(`
		type cryptcore_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, cryptcore_var_lib_t, cryptcore_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a cryptcore environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cryptcore_admin',`
	gen_require(`
		type cryptcore_t;
		type cryptcore_initrc_exec_t;
		type cryptcore_var_lib_t;
	')

	allow $1 cryptcore_t:process { ptrace signal_perms };
	ps_process_pattern($1, cryptcore_t)

	cryptcore_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 cryptcore_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, cryptcore_var_lib_t)

')

